@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Literata&display=swap';

html, body
{
    margin: 0px;
    background: #ffcc3f;
}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}


div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.main_menu
{
    background: #ffcc3f;
}

/* menu css */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.name_text {
    color: #7ab4b0;
}

.main_text {
    text-align: center;   
    font-family: Literata;
}

.main_text h1 {
    font-size: 70px;
    margin-top: 8%;
    margin-bottom: 0%;
}

.main_text h2 {
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.box {
    font-size: 25px;
    transform: translateX(-100px);
    position: relative;
}

.word {
    display: inline-block;
}

.word span {
    text-align: center;
    overflow: hidden;
    position: absolute;
    animation: animate 15s linear infinite;
    opacity: 0;
}

/* animation css */

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    2% {
        opacity: 1;
        transform: translateX(0px);
    }
    18% {
        opacity: 1;
        transform: translateX(0px);
    }
    20% {
        opacity: 0;
        transform: translateX(50px);
    }
    100%
    {
        opacity: 0;
        transform: translateX(50px);
    }
}

.word span:nth-child(1) {
    animation-delay: 0s;
}
.word span:nth-child(2) {
    animation-delay: 3s;
}
.word span:nth-child(3) {
    animation-delay: 6s;
}
.word span:nth-child(4) {
    animation-delay: 9s;
}
.word span:nth-child(5) {
    animation-delay: 12s;
}
